<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
    <meta name=Generator content="Microsoft Word 15 (filtered)">
    <style>
<!--
 /* Font Definitions */

 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoTitle, li.MsoTitle, div.MsoTitle
	{mso-style-link:"Title Char";
	margin:0in;
	font-size:28.0pt;
	font-family:"Calibri Light",sans-serif;
	letter-spacing:-.5pt;}
p.MsoTitleCxSpFirst, li.MsoTitleCxSpFirst, div.MsoTitleCxSpFirst
	{mso-style-link:"Title Char";
	margin:0in;
	font-size:28.0pt;
	font-family:"Calibri Light",sans-serif;
	letter-spacing:-.5pt;}
p.MsoTitleCxSpMiddle, li.MsoTitleCxSpMiddle, div.MsoTitleCxSpMiddle
	{mso-style-link:"Title Char";
	margin:0in;
	font-size:28.0pt;
	font-family:"Calibri Light",sans-serif;
	letter-spacing:-.5pt;}
p.MsoTitleCxSpLast, li.MsoTitleCxSpLast, div.MsoTitleCxSpLast
	{mso-style-link:"Title Char";
	margin:0in;
	font-size:28.0pt;
	font-family:"Calibri Light",sans-serif;
	letter-spacing:-.5pt;}
a:link, span.MsoHyperlink
	{color:#0563C1;
	text-decoration:underline;}
span.TitleChar
	{mso-style-name:"Title Char";
	mso-style-link:Title;
	font-family:"Calibri Light",sans-serif;
	letter-spacing:-.5pt;}
.MsoChpDefault
	{font-family:"Calibri",sans-serif;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}

div.WordSection1
	{page:WordSection1;}
-->
    </style>

</head>

<body lang=EN-US link="#0563C1" vlink="#954F72" style='word-wrap:break-word'>

    <div class=WordSection1>

        <p class=MsoTitle align=center style='text-align:center'>About this Web Site</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>
            <span style='font-size:14.0pt;line-height:107%'>
                I am a
                resident of Lantana and I live in the Garner subdivision.  The weather station
                providing this data is a <a href="https://shop.weatherflow.com/collections/frontpage/products/tempest?utm_term=weatherflow&amp;utm_campaign=RM+%7C+New+Acquisition+%7C+Search+%7C+Brand+%7C+WW&amp;utm_source=bing&amp;utm_medium=ppc&amp;hsa_acc=8776118551&amp;hsa_cam=10190198338&amp;hsa_grp=1355698664975527&amp;hsa_ad=&amp;hsa_src=o&amp;hsa_tgt=kwd-84731586429717:aud-814239272:loc-190&amp;hsa_kw=weatherflow&amp;hsa_mt=p&amp;hsa_net=adwords&amp;hsa_ver=3&amp;msclkid=8246a3eb02cc10ba0373c0f7aad8d61f&amp;utm_content=WeatherFlow">
                    WeatherFlow
                    Tempest Weather Station
                </a> 
            </span>
        </p>

        <p class=MsoNormal>
            <span style='font-size:14.0pt;line-height:107%'>

            </span>
        </p>

        <p class=MsoNormal>
            <span style='font-size:14.0pt;line-height:107%'>
                The
                following is a diagram of the various components that make up this website.
            </span>
        </p>
        <img src="https://sat02pap002files.storage.live.com/y4m16Rab8BeEQBalxZsQ8x3WwaWbyvz7b8bBz1nYpBBatokAJrQTznC5HCjdNTqiFlj1zdc5nAWnlYH4L14bflxVipEG6nYGwF8JrWzHPYO42EwwNdQDZsrCvIh9TrU-pX0Jyb0ypfJQ4HM7i9ZsqlHUFvymaDCG1K-f9xJsPZOCoXkUP5Vskig8whD0mplLeO-?width=612&height=681&cropmode=none" alt="Snow" style="width:100%;">


    </div>

</body>
</html>

